<div class="application">
  <p>Дата создания: {{ application?.createDate | date: 'dd/MM/yyyy HH:mm' }}</p>
  <p>Точка отправления: {{ application?.desiredPointOfDeparture }}</p>
  <p>Точка получения: {{ application?.desiredPointOfReceipt }}</p>
  <p>Описание: {{ application?.description }}</p>
  <p>Статус: {{ application?.applicationStatus }}</p>
  <!-- Условие для кнопки "Удалить" -->
  <button *ngIf="application?.applicationStatus === 'CREATE'" (click)="onDelete()">Удалить</button>

  <!-- Условие для кнопки "Редактировать" -->
  <button *ngIf="application?.applicationStatus === 'CREATE'" (click)="openApplicationEdit(application?.id)">Редактировать</button>
</div>
