<div id="header">
  <button [routerLink]="['/profile']">Вернуться домой</button>
  <h1>Заявки</h1>
  <button [routerLink]="['/applications/new']">Создать новую заявку →</button>
</div>
<hr>

<!-- Поле поиска заявок по email -->
<div *ngIf="isAdmin" class="search-container">
  <!-- Search input can be added here -->
</div>
<hr>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div class="row">
  <div *ngFor="let application of applications" class="col-md-4">
    <div class="application-card">
      <app-application-component [application]="application" (delete)="deleteApplication(application?.id)"></app-application-component>
      <button [routerLink]="['/applications', application.id, 'cargos']" [state]="{ application: application }">
        Перейти к грузам
      </button>

      <!-- Кнопка "Отклонить" -->
      <button *ngIf="isAdmin && application.applicationStatus !== applicationStatus.REJECTED && application.applicationStatus !== applicationStatus.INVOICE_CREATED"
              (click)="rejectApplication(application.id)">
        Отклонить
      </button>
      <!-- Кнопка "Создать накладную" -->
      <button *ngIf="isAdmin && application.applicationStatus != applicationStatus.INVOICE_CREATED && application.applicationStatus != applicationStatus.REJECTED"
              (click)="createInvoice(application.id)">
        Создать накладную
      </button>
    </div>
  </div>
</div>

<div *ngIf="!applications.length">Список заявок пуст :(</div>
<hr>
