<div class="user-profile">
  <div class="header">
    <h2>Персональная информация</h2>
    <div class="nav-buttons">
      <button class="nav-button" (click)="goToApplications()">Мои заявки</button>
      <button class="nav-button" (click)="goToCargos()">Мои заказы</button>
      <button class="nav-button" (click)="goToEdit()">Редактировать данные</button> <!-- Добавлена кнопка редактирования -->
      <button class="logout-button" (click)="onLogout()">Выход</button>
    </div>
  </div>

  <div class="info">
    <p>ФИО: {{ user?.fullName }}</p>
    <p>Email: {{ user?.email }}</p>
    <p>Телефон: {{ user?.phoneNumber }}</p>
    <p>Роль: {{ translateRole(user?.role) }}</p>
  </div>
</div>
