<div class="registration-form">
  <h2 style="padding-bottom: 15px;">Регистрация</h2>

  <div class="add-task-container">
    <p class="first">ФИО:</p>
    <input type="text" #fullName>
  </div>

  <div class="add-task-container">
    <p class="first">Email:</p>
    <input type="email" #email>
  </div>

  <div class="add-task-container">
    <p class="first">Пароль:</p>
    <input type="password" #password>
  </div>

  <div class="add-task-container">
    <p class="first">Телефон:</p>
    <input type="text" #phoneNumber>
  </div>

  <div id="handleRegister" (click)="handleRegister(fullName.value, email.value, password.value, phoneNumber.value)">
    <button>Зарегистрироваться</button>
  </div>

  <!-- Кнопка "Назад" в виде текстовой надписи -->
  <p id="goBackBtn" (click)="handleGoBack()" style="cursor: pointer; color: blue; text-decoration: underline;">
    Назад
  </p>

  <p>{{ message }}</p>
</div>