<!-- src/app/components/application-list/application-list.component.html -->
<div>
  <h2>Список заявок</h2>
  <table>
    <thead>
    <tr>
      <th>Дата создания</th>
      <th>Дата отправления</th>
      <th>Дата получения</th>
      <th>Точка отправления</th>
      <th>Точка получения</th>
      <th>Описание</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let application of applications">
      <td>{{ application.createDate }}</td>
      <td>{{ application.desiredDepartureDate }}</td>
      <td>{{ application.desiredDateOfReceipt }}</td>
      <td>{{ application.desiredPointOfDeparture }}</td>
      <td>{{ application.desiredPointOfReceipt }}</td>
      <td>{{ application.description }}</td>
      <td>{{ application.status }}</td>
    </tr>
    </tbody>
  </table>
</div>